#btn-navPanel {
  margin: 0 auto;
  color: #ffdf83;
  font-size: 2.3em;
}

#nav div figure img {
  max-width: 95px;
  transition: all 500ms linear;
}

#nav a{
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  margin-left: 1rem;
  margin-right: 1rem;
}

#nav {
  z-index: 100;
  padding: 1rem 1rem;
  transition: all 500ms linear;
}
#nav.ativo {
  background-color: rgba(58, 203, 199, 0.75);
  padding: .5rem 1rem;
  -webkit-box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.27);
  -moz-box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.27);
  box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.27);
}

#nav.ativo div figure img {
  max-width: 65px;
}

@media (min-width: 1199px) {
  #nav #btn-navPanel{
    display: none;
  }
}

@media (max-width: 1199px) {
  #nav {
    justify-content: center;
  }
  .fullscreen-menu-container {
    z-index: 10000;
  }
  #nav #logo-nav {
    display: none;
  }
  #nav #nav-list {
    display: none;
  }
  #btn-navPanel{
    display: block;
  }
}

@media only screen and (max-width: 1199px) {
  #nav {
    justify-content: center;
  }
  .fullscreen-menu-container {
    z-index: 10000;
  }
  #nav #logo-nav {
    display: none;
  }
  #nav #nav-list {
    display: none;
  }
  #nav #btn-navPanel{
    display: block;
  }
}